<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <title>Stock Trading Risk Calculator</title>
  </head>
  <body>
    <h1 id="title">Stock Trading Risk Calculator</h1>
    <div class="section_wrapper">
      <div class="input_section">
        <h2>Account Balance</h2>
        <input type="text" />
      </div>
      <div class="input_section">
        <h2>Risk Per Trade %</h2>
        <input type="text" />
      </div>
      <div class="input_section">
        <h2>Risk Per Trade $</h2>
        <input type="text" />
      </div>
    </div>
    <div class="section_wrapper">
      <div class="input_section">
        <h2>Stock Symbol</h2>
        <input type="text" />
      </div>
    </div>
    <div class="section_wrapper">
      <div class="input_section">
        <h2>Entry Price</h2>
        <input type="text" />
      </div>
      <div class="input_section">
        <h2>Stop Loss</h2>
        <input type="text" />
      </div>
      <div class="input_section">
        <h2>Take Profit</h2>
        <input type="text" />
      </div>
    </div>
  </body>
</html>
