.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  color: white;
}

.header__logo {
  margin-left: 48px;
}

.header__search {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.header__searchContainer {
  display: flex;
  align-items: center;
  height: 20px;
  border: 1px solid #31363A;
  border-radius: 4px;
  width: 375px;
}

.header__searchContainer > input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.header__searchContainer > input:focus {
  outline: none;
}

.header__menuItems a {
  color: white;
  font-weight: bold;
  margin-right: 48px;
  text-decoration: none;
  padding: 0 10px;
}

.header__menuItems a:hover {
  color: #5AC53B;
}